apiVersion: v1
kind: Secret

metadata:
  name: commit-secret
  namespace: commit

type: Opaque

data:
  DB_USER: <base64-encoded-db-user>
  DB_PASSWORD: <base64-encoded-db-password>
  DB_NAME: <base64-encoded-db-name>
  JWT_SECRET: <base64-encoded-jwt-secret>
  RESEND_API_KEY: <base64-encoded-resend-api-key>
